@import "./_theme.scss";

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0px;
  height: 100%;
}

input[type="range"]::-moz-range-thumb {
  border: 1px solid #777777;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #777777;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  margin-top: -5px;
}

input[type="range"]::-moz-range-track {
  height: 5px;
  cursor: pointer;
  @include theme() {
    background: themed("slider/main");
  }
  border-radius: 5px;
}

input[type="range"]::-ms-range-track {
  height: 5px;
  cursor: pointer;
  @include theme() {
    background: themed("slider/main");
  }
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  cursor: pointer;
  @include theme() {
    background: themed("slider/main");
  }
  border-radius: 5px;
}

input[type="range"]::-moz-range-progress {
  height: 5px;
  cursor: pointer;
  border-radius: 5px;
  @include theme() {
    background: themed("slider/progress");
  }
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
